<div class="container">
    <div class="py-5 text-center">
      <h2>Detalhe do Contato</h2>
      <p class="lead">As informações abaixo estão salvas no banco de dados PostgreSQL.</p>


<div class="py-5 text-center">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pessoa.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @pessoa.idade %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @pessoa.cpf %>
</p>

  <strong>Gênero:</strong>
  <%= @pessoa.genero.nome %>
</div>
    </div>

<hr class="mb-4, actions">
<%= link_to 'Editar', edit_pessoa_path(@pessoa) , class:"btn btn-primary btn-lg btn-block" %>
<%= link_to 'Voltar', pessoas_path, class:"btn btn-secondary btn-lg btn-block" %>
</div>

